.card-header {
    padding: 0.00rem 0.00rem;
    margin-bottom: 0;
    background-color: #fde49b;
    border-bottom: 0px;
}

.form-group-rmb {
    margin-bottom: 0rem;
}

#nameHelp {
    color: red;
}

#error {
    color: red;
}

.item-offer {
    height:auto;
    min-height:220px;
}
a.list-group-item.active small {
    color:#fff;
}
.stars {
    margin:20px auto 1px;
}

.jumbotron {
    margin-bottom: 0px;
    background-image: url(../images/tuhli.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
}

.btn-info {
    background-color: #6f8cba !important;
}