<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/head"></th:block>
</head>
<body>
<div class="container-fluid">
    <th:block th:replace="fragments/navbar"></th:block>
    <div class="row mt-4">
        <div class="col-md-6 offset-md-3">
            <div class="alert alert-danger mt-4" role="alert" th:if="${!#strings.isEmpty(error)}">
                <strong th:text="${error}"></strong>
            </div>
            <div class="alert alert-success mt-4" role="alert" th:if="${!#strings.isEmpty(logout)}">
                <strong th:text="${logout}"></strong>
            </div>
            <form class="mt-4" th:action="@{/login}" th:method="POST">
                <div class="form-group">
                    <label for="username">Потребителско име</label>
                    <input type="text" name="username" class="form-control" id="username"/>
                </div>
                <div class="form-group">
                    <label for="password">Парола</label>
                    <input type="password" name="password" class="form-control" id="password"/>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="checkbox" name="remember" class="form-check-input">
                        Запомни ме!
                    </label>
                </div>
                <div class="col-md-4 offset-md-4 text-center">
                    <button type="submit" class="btn btn-info text-center">  Вход  </button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>