<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="fragments/head :: meta"></th:block>
    <th:block th:replace="fragments/head :: style"></th:block>
    <th:block th:replace="fragments/head :: script"></th:block>
</head>
<body>
<div class="container-fluid">
    <th:block th:replace="fragments/navbar"></th:block>

    <div class="row mt-4">
        <div class="col-md-8 offset-md-2">

            <div class="jumbotron">
                <h1 class="display-4 text-center" th:text="'Здравей ' + ${userName}"></h1>
                <h3 class="lead text-center">Бързата работа — срам за майстора</h3>
                <hr class="my-4">
                <a class="btn btn-info btn-block" sec:authorize="hasAnyRole('WORKMAN')" th:href="@{'/categories/my'}">Моите услуги</a>
                <a class="btn btn-info btn-block" sec:authorize="hasAnyRole('CLIENT')"th:href="@{'/projects/show'}">Моите обекти</a>
                <a class="btn btn-info btn-block" sec:authorize="hasAnyRole('WORKMAN')"th:href="@{'/projects/show-by-workman'}">Моите обекти</a>
                <a class="btn btn-info btn-block" sec:authorize="hasAnyRole('CLIENT')" th:href="@{'/projects/add'}">Нов проект</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>