<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/head :: meta"></th:block>
    <th:block th:replace="fragments/head :: style"></th:block>
    <th:block th:replace="fragments/head :: script"></th:block>
</head>
<body>
<div class="container-fluid">
    <th:block th:replace="fragments/navbar"></th:block>

    <div class="container">
        <h1 class="mt-4 mb-4">All Viruses</h1>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Magnitude</th>
                <th scope="col">Released On</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="virus,iter : ${viruses}" th:object="${virus}">
                <td th:text="${iter.index + 1}"></td>
                <td th:text="${virus.getName()}"></td>
                <td th:text="${virus.getMagnitude()}"></td>
                <td th:text="${#dates.format(virus.getReleaseDate(), 'dd-MMM-yyyy')}"></td>
                <th><a class="btn btn-secondary" th:href="@{'/viruses/edit/' + ${virus.getId()}}">Edit</a> </th>
                <th><a class="btn btn-secondary" th:href="@{'/viruses/delete/' + ${virus.getId()}}">Delete</a> </th>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>